@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,500;0,600;0,700;1,100&family=Rubik:wght@500;600&family=Special+Elite&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
  overflow-x: hidden;
}

header {
  position: fixed;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  background-color: #f5f5f5;
  padding: 10px;
  border-bottom: 1px solid #e5e5e5;
}

header .toggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.5em;
  cursor: pointer;
}

header .toggle .menu-bar {
  z-index: 1000;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

header nav ul li {
  margin-right: 30px;
}

header nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

header nav ul li a:hover {
  color: red;
}

.side-bar-left-container {
  position: fixed;
  width: 300px;
  background: gray;
  height: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: -1000000;
  border-left: 10px solid gray;
}

.side-bar-left-container ul {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
}

.side-bar-left-container ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.side-bar-left-container ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #fff;
}

.side-bar-left-container ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 70px;
  text-align: center;
}

.side-bar-left-container ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

.side-bar-left-container ul li:hover {
  border-left: 10px solid red;
}

.side-bar-left-container.active {
  width: 80px;
}

main {
  position: absolute;
  width: calc(100% - 0px);
  left: 300px;
  min-height: 100vh;
  background: var(--white);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 80px;
  z-index: -1000;
}

main .container {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 500px;
      grid-template-columns: 2fr 500px;
  -webkit-transition: 2s;
  transition: 2s;
  height: 100vh;
}

main .container .right {
  border-left: 1px solid #e5e5e5;
  height: 100%;
}

main .container .right ul {
  list-style: none;
}

main .container .right ul li {
  padding: 20px;
}

main .container .right ul li a {
  text-decoration: none;
}

main .container.active {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 300px;
      grid-template-columns: 2fr 300px;
}

footer {
  width: 100%;
  height: 200px;
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5em;
  font-weight: 600;
  z-index: 10000;
}

footer a {
  text-decoration: none;
  color: #000;
}

main.active {
  width: 100%;
  left: 80px;
}
/*# sourceMappingURL=style.css.map */